<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:100|Alegreya' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="top-nav">
            <div class="login">
                {%if 'username' not in session %}
                <a href="{{url_for('show_login')}}">Login</a>
                {% else %}
                Not {{session.username}}? <a href="{{url_for('disconnect')}}">Logout </a>
                {% endif %}
                </div>
            <div class="home">
                <a href = "{{url_for('categories_list')}}">Home</a>
            </div>
        </div>

        <div class="secondary">
            <div class="breadcrumbs">
                <a href= "{{url_for('categories_list')}}">Shop</a>
                <span>/</span>
                <a href="{{url_for('show_category', category_id=item.category_id) }}">{{category.name}}</a>
                <span>/</span>
                <a href="{{url_for('show_item', item_id=item.id,  category_id=item.category_id) }}">{{item.name}}</a>
                <span>/ Edit</span>
            </div>
        </div>

        <div class="header">
            <h1>{{item.name}}</h1>
        </div>

        <div class = "wrapper">
            <div class = "edit-item-content">
                <form action = "{{url_for('edit_item', category_id = item.category_id, item_id = item.id)}}" method = "POST">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <dl>
                        <dt>Name:</dt>
                            <dd><input type = "text" name = "item-name" value = "{{item.name}}"/></dd>
                        <dt>Description:</dt>
                            <dd><textarea name = "item-description" rows = "5" columns = "40">{{item.description}}</textarea></dd>
                        <dt>Price:</dt>
                            <dd><input type = "text" name = "item-price" value = "{{item.price}}"/></dd>
                        <dt>Image:</dt>
                            <dd><input type = "text" name = "item-image" value = "{{item.image}}"/></dd>
                    <input type = "submit" value="Edit" />
                </form>
                <a class="cancel" href = "{{url_for('show_item', item_id=item.id, category_id=item.category_id) }}">Cancel</a>
            </div>

        </div>
        <div class="footer">
            <p class="about">home catalog 2016</p>
        </div>
    </body>
</html>