<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Rubik:700|Playfair+Display' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    </head>
    <body>
        <div class="top-nav">
            <div class="login">LOGIN</div>
            <div class="home">HOME</div>
        </div>
        <div class = "wrapper">
            <div class = "login-box">
                <-- TODO - create login form -->
            </div>
        </div>
        <div class="footer">
            <p class="about">Mystery Shack Online Catalog</p>
            <img class="badge" src="https://upload.wikimedia.org/wikipedia/en/c/c2/Gravity_Falls_logo.png"/>
            <p class="visit">618 Gopher Road, Gravity Falls, OR</p>
        </div>
    </body>
</html>