<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:100|Alegreya' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="top-nav">
            <div class="login">
                {%if 'username' not in session %}
                <a href="{{url_for('show_login')}}">Login</a>
                {% else %}
                Not {{session.username}}? <a href="{{url_for('disconnect')}}">Logout </a>
                {% endif %}
                </div>
            <div class="home">
                <a href = "{{url_for('categories_list')}}">Home</a>
            </div>
        </div>

        <div class="secondary">
            <div class="breadcrumbs">
                <a href= "{{url_for('categories_list')}}">Shop</a>
                <span>/ New</span>
            </div>
		</div>

        <div class="header">
			<h1>New Category</h1>
		</div>

		<form action="{{url_for('new_category')}}" method = "POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<div class="form-group">
    			<label for="category-name">Name:</label>
    			<input type ="text" class="form-control" maxlength="100" name="category-name">
    			<input type='submit' value='Create'>
			</div>
        </form>
        <div class="footer">
            <p class="about">home catalog 2016</p>
        </div>
    </body>
</html>