<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:100|Alegreya' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="top-nav">
            <div class="login">
                {%if 'username' not in session %}
                <a href="{{url_for('show_login')}}">Login</a>
                {% else %}
                Not {{session.username}}? <a href="{{url_for('disconnect')}}">Logout </a>
                {% endif %}
                </div>
            <div class="home">
                <a href = "{{url_for('categories_list')}}">Home</a>
            </div>
        </div>

        <div class="secondary">
            <div class="breadcrumbs">
                <a href= "{{url_for('categories_list')}}">Shop</a>
                <span>/ {{category.name}}</span>
            </div>
        </div>

        <div class="header">
            <h1>{{category.name}}</h1>
        </div>

        <div class="wrapper">
            <div class = "item-list">
                {% for i in items %}
                <a class="item" href="{{url_for('show_item', item_id=i.id, category_id=i.category_id) }}">
                    <div class="item-tile">
                        <div class = "item-mobile-info">
                            <div class = "item-name">{{i.name}}</div>
                            <div class = "item-price">{{i.price}}</div>
                        </div>
                        {% if i.image %}
                        <div class="overlay">
                        {% else %}
                        <div class= "overlay overlay-noimg" />
                        {% endif %}
                            <div class = "item-name">{{i.name}}</div>
                            <div class = "item-price">{{i.price}}</div>
                        </div>
                        <div class = "item-image">
                            {% if i.image %}
                            <img src = "../../{{i.image}}" />
                            {% else %}
                            <img src = "../../static/images/no-image.jpg" />
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="footer">
            <p class="about">home catalog 2016</p>
        </div>
    </body>
</html>